services:
  ganache:
    image: trufflesuite/ganache:latest
    ports:
      - 8545:8545
    entrypoint:
      [
        "node",
        "/app/dist/node/cli.js",
        "--database.dbPath",
        "./ganache_cache",
        "--chain.allowUnlimitedContractSize",
        "true",
        "--chain.chainId",
        "0x2324",
        "--chain.networkId",
        "0x2324",
        "-a",
        "20",
        "-l",
        "50000000",
        "-g",
        "1",
        "--chain.hardfork",
        "${GANACHE_FORK:-istanbul}",
        "--miner.blockTime",
        "${GANACHE_BLOCKTIME:-0}",
        "--miner.instamine",
        "${GANACHE_INSTAMINE:-eager}",
        "--wallet.mnemonic",
        "${GANACHE_MNEMONIC:-taxi music thumb unique chat sand crew more leg another off lamp}",
        "-e",
        "1000000",
      ]
    networks:
      ocean:
        ipv4_address: 172.16.0.3

  aquarius:
    build: aquarius
    depends_on:
      - provider
      - elasticsearch
      - ganache
    ports:
      - 10000:5000
    volumes:
      - ${OCEAN_ARTIFACTS_FOLDER}:/usr/local/.ocean/:ro
    environment:
      ADDRESS_FILE: /usr/local/.ocean/address.json
      EVENTS_RPC: http://ganache:8545
      LOG_LEVEL: ${LOG_LEVEL}
      DB_MODULE: elasticsearch
      DB_HOSTNAME: http://elasticsearch
      DB_PORT: 9200
      DB_USERNAME: elastic
      DB_PASSWORD: changeme
      DB_SSL: false
      DB_VERIFY_CERTS: false
      NETWORK_NAME: ${CONTRACTS_NETWORK_NAME}
      RUN_AQUARIUS_SERVER: 1
      RUN_EVENTS_MONITOR: 1
      PURGATORY_UPDATE_INTERVAL: 60
      EVENTS_MONITOR_SLEEP_TIME: 30
      PRIVATE_KEY: 0xc6914ea1e5ac6a1cd2107240be714735bf799ce9ea4125016aeb479266720ff4
      BLOCKS_CHUNK_SIZE: 5000
      PROCESS_RETRY_QUEUE: 1
      BFACTORY_BLOCK: 0
      SUBGRAPH_URLS: '{"8996": "http://graph-node:8000"}'
    networks:
      ocean:
        ipv4_address: 172.16.0.13

  provider:
    build: provider
    ports:
      - "8030:8030"
    volumes:
      - ${OCEAN_ARTIFACTS_FOLDER}:/usr/local/.ocean/:ro
    environment:
      ADDRESS_FILE: "/usr/local/.ocean/address.json"
      AQUARIUS_URL: http://aquarius:5000
      NETWORK_URL: '{"8996": "http://172.16.0.3:8545"}'
      IPFS_GATEWAY: ipfs
      PROVIDER_PRIVATE_KEY: '{"8996": "0xc594c6e5def4bab63ac29eed19a134c130388f74f019bc74b8f4389df2837a58"}'
      PROVIDER_ADDRESS: 0xe2DD09d719Da89e5a3D0F2549c7E24566e947260
    networks:
      ocean:
        ipv4_address: 172.16.0.14

  elasticsearch:
    image: elasticsearch:${ELASTICSEARCH_VERSION:-8.7.0}
    ports:
      - 9200:9200
    environment:
      ES_JAVA_OPTS: "-Xms2g -Xmx2g"
      MAX_MAP_COUNT: "64000"
      discovery.type: "single-node"
      ELASTIC_PASSWORD: "changeme"
      xpack.security.enabled: "false"
      xpack.security.http.ssl.enabled: "false"
    networks:
      ocean:
        ipv4_address: 172.16.0.6

  # BEGIN SUBGRAPH
  graph-node:
    image: graphprotocol/graph-node:v0.28.2
    ports:
      - "9000:8000"
      - "8001:8001"
      - "8020:8020"
      - "8040:8030"
      - "8050:8040"
    depends_on:
      - ipfs
      - postgres
      - ganache
    environment:
      postgres_host: postgres
      postgres_user: graph-node
      postgres_pass: let-me-in
      postgres_db: graph-node
      ipfs: ipfs:5001
      ethereum: development:http://ganache:8545
      RUST_LOG: warning
      GRAPH_ETHEREUM_MAX_BLOCK_RANGE_SIZE: 100
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "8030"]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 20s
    networks:
      ocean:
        ipv4_address: 172.16.0.15

  ipfs:
    image: ipfs/go-ipfs:v0.4.23
    ports:
      - "5001:5001"
      - "5005:8080"
    volumes:
      - graphipfs:/data/ipfs
    networks:
      ocean:
        ipv4_address: 172.16.0.16

  postgres:
    image: postgres:18
    ports:
      - "5432:5432"
    command: ["postgres", "-cshared_preload_libraries=pg_stat_statements"]
    environment:
      POSTGRES_USER: graph-node
      POSTGRES_PASSWORD: let-me-in
      POSTGRES_DB: graph-node
    volumes:
      - pgdata:/var/lib/postgresql
    networks:
      - ocean
  # END SUBGRAPH

  subgraph:
    build: ocean-subgraph
    depends_on:
      graph-node:
        condition: service_healthy
        restart: true
    environment:
      IPFS: http://ipfs:5001
    volumes:
      - ${OCEAN_ARTIFACTS_FOLDER}:/ocean-contracts/artifacts/:cached
      - ${OCEAN_HOME}/subgraph:/ocean-subgraph/:cached
    networks:
      ocean:
        ipv4_address: 172.16.0.18

  ocean-contracts:
    build: contracts
    environment:
      MNEMONIC: ${GANACHE_MNEMONIC:-taxi music thumb unique chat sand crew more leg another off lamp}
      OWNER_ROLE_ADDRESS: ${CONTRACTS_OWNER_ROLE_ADDRESS}
      DEPLOY_CONTRACTS: ${DEPLOY_CONTRACTS}
      LOCAL_CONTRACTS: ${DEPLOY_CONTRACTS}
      REUSE_DATABASE: ${GANACHE_REUSE_DATABASE:-false}
      DATABASE_PATH: "/ganache-db"
      NETWORK_NAME: ${CONTRACTS_NETWORK_NAME}
      NETWORK_RPC_HOST: ${NETWORK_RPC_HOST:-ganache}
      NETWORK_RPC_PORT: ${NETWORK_RPC_PORT:-8545}
      NETWORK_RPC_URL: ${NETWORK_RPC_URL:-http://ganache:8545}
      LOCAL_USER_ID: ${LOCAL_USER_ID}
      LOCAL_GROUP_ID: ${LOCAL_GROUP_ID}
      ADDRESS_FILE: /ocean-contracts/artifacts/address.json
    depends_on:
      - ganache
      - subgraph
    volumes:
      - ${OCEAN_ARTIFACTS_FOLDER}:/ocean-contracts/artifacts/:cached
    healthcheck:
      test: ["CMD", "sh", "-c", "[ -f /ocean-contracts/artifacts/ready ]"]
      start_period: 30s
      interval: 5s
      timeout: 3s
      retries: 300
    networks:
      - ocean

volumes:
  graphipfs:
  registryvol:
  pgdata:

networks:
  ocean:
    name: ocean
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.16.0.0/24
